<h1>Hello, <%= @user.firstname %></h1>
<p>Here is your params</p>
<%= @user.firstname %><br/>
<%= @user.lastname %><br/>
<%= @user.email %><br/>
<%= link_to "Edit Profile", edit_user_path %>
<%= link_to "Home", edit_user_path %>
